body {
  background-image: url("ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

td {
  border: 5px solid gray;
  width: 60px;
  height: 60px;
}

#board {
  border-collapse: collapse;
  margin: 70px auto 30px auto;
  background-color: rgba(255, 255, 255, 0.5);
}

header {
  padding-top: 30px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  font-size: 3em;
}

.btn {
  margin: auto;
}

.torpedoed {
  background-color: #0040ff
}

.hit{
  background-color: #cc0000
}

.tracker {
  font-size: 2em;
  text-align: left;
  margin: 70px 0 20px 0;
}

#blue {
  width: 30px;
  height: 30px;
  background-color: #0040ff;
  margin-left: 20px;
}

#red {
  width: 30px;
  height: 30px;
  background-color: #cc0000;
}

#shipLegend {
  color: white;
  padding: 30px;
}

#green {
  width: 30px;
  height: 30px;
  background-color: #5cd65c;
}

#purple {
  width: 30px;
  height: 30px;
  background-color: #884dff;
}

#yellow {
  width: 30px;
  height: 30px;
  background-color: #ffff80;
}

#orange {
  width: 30px;
  height: 30px;
  background-color: #ff751a;
}

#pink {
  width: 30px;
  height: 30px;
  background-color: #ff4dd2;
}


#legend {
  font-size: 1em;
}

#winLose {
  text-align: center;
  color: #cc0000;
}

.showShip {
  background-color: gray;
  background-image: url("ship.png");
  /*z-index: 2*/
  background-size: contain;
}

.ship5show {
  background-color: #5cd65c;
  background-image: url("ship.png");
  /*z-index: 2*/
  background-size: contain;
}
.ship4show {
  background-color: #884dff;
  background-image: url("ship.png");
  /*z-index: 2*/
  background-size: contain;
}
.ship3show {
  background-color: #ffff80;
  background-image: url("ship.png");
  /*z-index: 2*/
  background-size: contain;
}
.ship2show {
  background-color: #ff751a;
  background-image: url("ship.png");
  /*z-index: 2*/
  background-size: contain;
}
.ship1show {
  background-color: #ff4dd2;
  background-image: url("ship.png");
  background-size: contain;
}

.hit2{
  background-color: #cc0000
}
